
<div class="container">
  <div class="row" style="margin-top: 40px; display:flex; flex-wrap: wrap;">
    <% obj.each do |pic| %>
    <div class="col-md-4">
      <div class="panel panel-default" id="item-<%= pic.id %>">
        <div class="panel-heading card">
          <%= image_tag pic.photo %>
        </div>
        <div class="panel-body" style="margin-top: 8px;">
          <div class="row">
            <div class="col-sm-6" style="text-align: center; margin-top: 23px;">
              <div align="center" style="height: 30px; margin-top: 5px;">
                <strong><%= link_to pic.title, pic, style: "text-transform: uppercase; font-weight: 300; font-size: 17px;"%></strong>
              </div>
            </div>
            <div class="col-sm-6">
              <div align="center">
                <h1> <% x = pic.id %> </h1>
                <%= link_to "Delete", pic_path(pic), class: "btn btn-danger btn-sm del-pic", method: :delete, data: { confirm: "Are you sure?" }, remote: true, style: "color: #fff" %>
              </div>
            </div>
          </div>
          </div>
          <div class="panel-footer">
            <div class="pic-meta-details">
              <small>Created by:<%= pic.user.username if pic.user %>,
                <%= time_ago_in_words(pic.created_at) %>
                ago, last updated:
                <%= time_ago_in_words(pic.updated_at) %>
                ago</small>
              </div>
          </div>
    </div>
  </div>
  <% end %>
</div>
