  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <% obj.each do |pic| %>
      <div class="panel-heading">
        <%= image_tag pic.photo %>
      </div>
      <div class="panel-body">
        <h2><%= link_to pic.title, pic %></h2>
        <div class="pic-meta-details">
          <small>Created by:<%= pic.user.username if pic.user %>,
            <%= time_ago_in_words(pic.created_at) %>
            ago, last updated:
            <%= time_ago_in_words(pic.updated_at) %>
            ago</small>
          </div>
          <% end %>
        </div>
      </div>
  </div>
