
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <div class="well">
        <h1><%= @pic.title %></h1>
        <p><%= @pic.description %></p>
        <p><%= @pic.user.email %></p>

        <%= link_to "Back", pics_path , class: "btn btn-default" %>
        <%= link_to "Edit", edit_pic_path , class: "btn btn-default" %>
        <%= link_to "Delete", pic_path , method: :delete, data: { confirm: "Are you sure?" } class: "btn btn-default" %>

      </div>
    </div>
  </div>
</div>
