<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default" style="margin-top: 30px;">
      <div class="panel-heading">
        <%= image_tag @pic.photo %>
      </div>
      <div class="panel-body" style="padding-bottom: 0; padding-top: 18px;">
        <!-- <div class="row"> -->
          <div class="col-sm-6">
            <h1><%= @pic.title %></h1>
            <p><%= @pic.description %></p>
            <p><%= @place.city %></p>
          </div>
          <div class="col-sm-6" style="height: 205px;">
            <p align="center" style="margin-top: 2px;"> <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&markers=#{@place.latitude},#{@place.longitude}&zoom=7&size=242x200&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
            id: "place-img" , alt: "#{@place.city} on the map"%></p>
          </div>
        <!-- </div> -->
      </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <p style="margin: 10px 10px 10px 5px"><% @user %>by <%= @pic.user.email %></p>
            </div>
              <div class="col-md-6">
              <div class="btn-group pull-right">
                <%= link_to like_pic_path(@pic), method: :put, class: "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-thumbs-up">
                  <%= @pic.get_upvotes.size %>
                  <% end %>
                  <%= link_to "Edit", edit_pic_path, class: "btn btn-info btn-sm"%>
        
                </span>
                <% if logged_in? && (current_user == @pic.user || current_user.admin?) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
      <!-- <div class="well"> -->
      <!-- </div> -->
